body{
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.form{
  width:350px;
  height:auto;
  margin: 0 auto;
  transform: translate(0, 30%);
}

.form .submit{
  padding: 10px;
  display: inline-block;
  height: auto;
  float: right;
}

#logo {
  width: 90%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 8vh;
}

.submit .logout {
  background-color: #021f47;
}

input[type=text] + label, input[type=password] + label, input[type=email] + label {
  color: rgb(78, 78, 78);
}

.loginfield input[type=text], .loginfield input[type=password]{
  border-bottom: 1px solid rgb(78, 78, 78);
  box-shadow: 0 1px 0 0 rgb(78, 78, 78);
}

input[type=text]:focus + label, input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #3a77d2 !important;
}

input[type=text]:focus, input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3a77d2 !important;
  box-shadow: 0 1px 0 0 #3a77d2 !important;
}
ul.dropdown-content.select-dropdown li span {
    color: #3a77d2;
}
input[type=email]:focus{
  color: #3a77d2;
  border-bottom: 1px solid #3a77d2 !important;
  box-shadow: 0 1px 0 0 #3a77d2 !important;
}

input[type=email]:focus + label {
  color: #3a77d2;
}

.datepicker-date-display, .datepicker-table td.is-selected{
  background-color: #3a77d2;
}
.datepicker-table td.is-today{
  color: red;
}

.datepicker-cancel, .datepicker-done{
  color: #3a77d2;
}

ul#dropdown1.dropdown-content {
  width: auto !important;
  top: 12vh !important;
}
nav{
  background-color: white;
}

#modal2{
  width: 30vw !important;
}

.modal-banner{
  background-color: #3a77d2;
  width: 30vw !important ;
  height: 20vh !important ;
  margin-left: -24px;
  margin-top: -25px;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #3a77d2;
}
.rightpanel{
  margin-top: 20px;
}
.rightbanner{
  color: black;
  font-size: 4vh;
  width: 100%;
  text-align: center;
}
.taskslist{
  height: 8vh;
  font-size: 3vh;
  width: 90%;
  border: 2px solid grey;
  border-radius: 10px;
}
.tasksdiv{
  height: 8vh;
  font-size: 3vh;
  width: 95%;
  padding-top: 1vh;
  padding-left: 10px;
  background-color: red;
}
.taskslist:hover{
  box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.75)
}
.taskslist2{
  padding: 5px;
}

.formx{
  margin-top: 100px;
}
.assign{
  font-size: 4vh;
  margin-right: 15px;
}
.assign:hover{
  color: #3a77d2;
}
